@import "variables.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


.form-control {
    background-color: #EEEEF0;
}
h1 {
    font-size: 45px;
}

h2 {
    font-size: 22px;
}


// Spinner /Loader
.spinner-border {
    color: #007bff; /* blå farge */
  }
  .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .spinner-border {
    width: 3rem;
    height: 3rem;
  }
  
